<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>得意先変更結果画面</title>
</head>
<body>
	<!-- 見出し -->
	<header  th:insert="header::header"></header>
	<!-- メインコンテンツ -->
	<main>
		<p class="gotoMenu"><a th:href="@{/customerMenu}">得意先管理メニューへ戻る</a></p>
		<h2>得意先変更結果</h2>
		<p style="text-align: center;">得意先を変更しました。</p>
		<form method="post" action="#">
			<table border="1" style="margin: 0 auto">
				<tr>
					<td width="100">得意先コード</td>
					<td width="300" th:text="${customer.customerCode}">customerCode</td>
				</tr>
				<tr>
					<td>得意先名</td>
					<td th:text="${customer.customerName}">customerName</td>
				</tr>
				<tr>
				<td>電話番号</td>
				<td th:text="${customer.customerTelno}">customerTelno</td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td th:text="${customer.customerPostalcode}">customerPostalcode</td>
				</tr>
				<tr>
					<td>住所</td>
					<td th:text="${customer.customerAddress}">customerAddress</td>
				</tr>
				<tr>
					<td>割引率</td>
					<td><span th:text="${customer.discountRate}">discountRate</span>%</td>
				</tr>
			</table>
			<br>
			<div style="text-align:center">
				<button type="submit" th:formaction="@{/goUpdateCustomer}">前画面へ戻る</button>
			</div>
		</form>
		<p class="gotoMenu"><a th:href="@{/mainMenu}">メインメニューへ戻る</a></p>
	</main>
	<footer th:insert="footer::footer"></footer>
</body>
</html>