<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<meta charset="utf-8">
<title>得意先別集計メニュー画面</title>
</head>
<body>
	<!-- 見出し -->
	<header  th:insert="header::header"></header>
	<!-- メインコンテンツ -->
	<main>
		<h2>得意先別集計メニュー</h2>
		<form class="menu">
			<p><button th:formaction="@{/goMonthlyOrderTotal}">月 別 受 注 集 計</button></p>
			<p><button th:formaction="@{/goYearlyOrderTotal}">年 次 受 注 集 計</button></p>
			<p><button th:formaction="@{/goOrderTotalByItem}">商 品 別 受 注 集 計</button></p>
		</form>
		<p class="gotoMenu"><a th:href="@{/mainMenu}">メインメニューへ戻る</a></p>
	</main>
	<footer th:insert="footer::footer"></footer>
</body>
</html>